<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covid_19tracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Covid19Tracker">
        <activity android:name=".getHelp.DonateActivity"></activity>
        <activity android:name=".getHelp.CovidSymptomsActivity" />
        <activity android:name=".newsBlog.NewsActivity" />
        <activity android:name=".getHelp.HelpLineNumbersActivity" />
        <activity android:name=".getHelp.HelpRegardingVaccineActivity" />
        <activity android:name=".getHelp.GetHelpActivity" />
        <activity android:name=".trackCountries.SelectCountry" />
        <activity android:name=".VerifyPhoneActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".vaccineSlot.EnterDateAndPinCodeActivity" />
        <activity android:name=".vaccineSlot.VaccineSlots" />
        <activity android:name=".statesUpdate.StatesActivity" />
        <activity android:name=".MobileNumberEnterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>